.statistics {
    flex: 1 0 auto;
    display: grid;
    grid-template-columns: var(--grid-container);
    align-content: start;
    margin-top: 2rem;
}

.statistics__inner {
    grid-column: 2;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    gap: 2rem;
}