.hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-top: 2rem;
    padding-inline: var(--container-margin);
    max-width: var(--container-max-width);
    width: var(--container-width);
}

.hero__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero__text h1 {
    margin-bottom: 7px;
    font-size: var(--font-size-6);
    font-weight: var(--font-weight-regular);
}

.hero__text h2 {
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-regular);
}

@media (max-width: 768px) {

    .hero {
        grid-template-columns: 1fr;
    }

    .hero .card {
        order: 2;
    }

    .hero__text h1 {
        font-size: max(var(--font-size-5), 6vw);
    }

}