.home-playlists {
	flex: 1 0 auto;
	display: grid;
	grid-template-columns: var(--grid-container);
	margin: 2rem 0 4rem;
}

.home-playlists__inner {
	grid-column: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 4rem;
}

.home-playlists__gallery {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}