:root {
	/* --grid-container: clamp(1.5rem, -4.662rem + 26.2911vw, 19rem) minmax(0, 54rem) clamp(1.5rem, -4.662rem + 26.2911vw, 19rem); */
	--container-max-width: 54rem;
	--container-width: 75%;
	--container-margin: 1.5rem;

	--color-primary-900: #181818;
	--color-primary-800: #2a2a2a;
	--color-primary-700: #454545;
	--color-primary-600: #5e5e5e;
	--color-primary-500: #bababa;
	--color-secondary: #fff;
	--color-accent: #1ed760;
	--color-shadow: #18181840;

	/* --font-primary: "Lexend", sans-serif;
    --font-branding: "Climate Crisis", "Lexend", sans-serif; */
	--font-base: 16px;
	--font-scale: 1.25;
	--font-size-0: calc(var(--font-base) / var(--font-scale));
	--font-size-1: var(--font-base);
	--font-size-2: calc(var(--font-size-1) * var(--font-scale));
	--font-size-3: calc(var(--font-size-2) * var(--font-scale));
	--font-size-4: calc(var(--font-size-3) * var(--font-scale));
	--font-size-5: calc(var(--font-size-4) * var(--font-scale));
	--font-size-6: calc(var(--font-size-5) * var(--font-scale));
	--font-weight-regular: 400;
	--font-weight-bold: 700;
}

@media (max-width: 768px) {
	:root {
		--container-width: 100%;
	}
}
