.game {
	position: relative;
	flex: 1 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin-top: 2rem;
	width: 100%;
}

.game__main {
	margin-bottom: 1.5rem;
	padding-inline: var(--container-margin);
	max-width: var(--container-max-width);
	width: var(--container-width);
}

.game__guesser {
	position: relative;
	isolation: isolate;
}

.game__score {
	display: flex;
	justify-content: space-between;
	margin-inline: 2rem;
	margin-bottom: 1rem;
	color: var(--color-primary-500);
}

.game__guesses {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-inline: 2rem;
}

.game__buttons {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1.5rem;
	padding-inline: 1.5rem;
	width: 100%;
}

.game__buttons .button,
.game__buttons .button--outline {
	text-align: center;
	white-space: nowrap;
}

.search-results {
	position: absolute;
	top: calc(100% + 0.5rem);
	right: 0;
	left: 0;
	z-index: -1;
	display: flex;
	flex-direction: column;
	padding: 0.75rem 0;
	border-radius: 0.5rem;
	background-color: var(--color-primary-800);
	color: var(--color-primary-500);
	list-style: none;
}

.search-results__song {
	width: 100%;
	padding: 0.75rem 2rem;
	text-align: start;
}

.search-results__song--active,
.search-results__song:hover,
.search-results__song:focus,
.search-results__song:focus-visible {
	outline: none;
	background-color: var(--color-primary-700);
	color: var(--color-secondary);
}

.level-ended {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.level-ended h3,
.level-ended__song {
	font-size: var(--font-size-3);
	font-weight: bold;
}

.level-ended h3 {
	margin-bottom: 10px;
}

.level-ended img {
	margin-block: 1.5rem;
	max-width: 18rem;
	height: 100%;
}

.level-ended__song {
	margin-bottom: 0.25rem;
}

.level-ended__artist {
	margin-bottom: 0.25rem;
	text-align: center;
}

.level-ended__year {
	color: var(--color-primary-500);
}

.game-ended {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	height: 100%;
}

.game-ended__image {
	max-width: 22rem;
}

.game-ended__image img {
	aspect-ratio: 1 / 1;
	object-fit: cover;
	object-position: cover;
}

.game-ended__content h3 {
	margin-bottom: 0.6875rem;
	color: var(--color-primary-500);
	font-size: var(--font-size-3);
	font-weight: var(--font-weight-regular);
}

.game-ended__content h2 {
	margin-bottom: 1.375rem;
	font-size: var(--font-size-5);
	font-weight: var(--font-weight-bold);
}

.game-ended__scores {
	display: flex;
	gap: 1.5rem;
}

.game-ended__scores h4 {
	font-size: var(--font-size-1);
	font-weight: var(--font-weight-regular);
}

.game-ended__scores h4 span {
	font-weight: var(--font-weight-bold);
}

@media (max-width: 1024px) {
	.game__main {
		display: grid;
		grid-template-rows: min-content min-content 1fr;
		min-height: calc(100vh - 8.5rem);
		min-height: calc(100svh - 8.5rem);
	}

	.game__buttons {
		justify-content: center;
		gap: 1rem;
		max-width: var(--container-max-width);
		width: var(--container-width);
	}

	.game__buttons .button {
		flex: 1 0 auto;
	}
}

@media (max-width: 768px) {
	.game__score {
		display: none;
	}

	.game__buttons {
		flex-direction: column;
	}
}
