.profile {
	margin-top: 2rem;
	padding-inline: var(--container-margin);
    max-width: var(--container-max-width);
    width: var(--container-width);
}

.account {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	gap: 2rem 0;
}

.account__image {
	border-radius: 50%;
	overflow: hidden;
}

.account__buttons {
	display: flex;
	gap: 1rem;
}