.header {
    display: grid;
    grid-template-columns: var(--grid-container);
    min-height: 5rem;
}

.header__inner {
    grid-column: 2;
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.menu__item {
    position: relative;
    transition: background-color .3s;
}

.menu__item--active {
    margin-inline: -1rem;
    padding: .5rem 1rem;
    border-radius: 50vh;
    background-color: var(--color-primary-600);
}