.main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

.game {
    flex: 1 0 auto;
    display: grid;
    grid-template-columns: var(--grid-container);
    margin-top: 2rem;
}

.game__inner {
    grid-column: 2;
}

.game__score {
    display: flex;
    justify-content: space-between;
    margin-inline: 2rem;
    margin-bottom: 1rem;
    color: var(--color-primary-500);
}

.game__guesses {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-inline: 2rem;
}

.game-footer {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.game-footer .button,
.game-footer .button--outline {
    margin: 1.5rem;
    white-space: nowrap;
}

.game-over {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-over h3,
.game-over__song {
    font-size: var(--font-size-3);
    font-weight: bold;
}

.game-over h3 {
    margin-bottom: 10px;
}

.game-over img {
    margin-block: 1.5rem;
    max-width: 18rem;
    height: 100%;
}

.game-over__song {
    margin-bottom: 2px;
}

.game-over__artist {
    margin-bottom: 4px;
}

.game-over__year {
    color: var(--color-primary-500);
}