.main {
	flex: 1 0 auto;
	display: flex;
	flex-direction: column;
}

.login {
	flex: 1 0 auto;
	display: grid;
	grid-template-columns: var(--grid-container);
	margin-top: -3.5rem;
}

.login__inner {
	grid-column: 2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 3rem;
}

.login__branding {
	display: flex;
	align-items: center;
	gap: 3rem;
	cursor: pointer;
	user-select: none;
}

.login__branding h2 {
	font-size: var(--font-size-6);
}

.login__branding span {
	font-size: var(--font-size-4);
	line-height: 1;
}

@media (max-width: 768px) {
	.login__branding {
		flex-direction: column;
		gap: 0.5rem;
	}

	.login__branding h2 {
		font-size: var(--font-size-5);
	}

	.login__branding span {
		font-size: var(--font-size-3);
	}
}
