.card {
    padding: 1.5rem;
    border-radius: .5rem;
    background-color: var(--color-primary-800);
    transition: background-color .3s;
}

.card:hover {
    background-color: var(--color-primary-700);
}

.card:hover .card__image button {
    opacity: 1;
    bottom: .5rem;
}

.card__image {
    position: relative;
    margin-bottom: 1rem;
    max-width: 100%;
    aspect-ratio: 1 / 1;
}

.card__image button {
    opacity: 0;
    position: absolute;
    right: .5rem;
    bottom: -1rem;
    padding: 0;
    filter: drop-shadow(0 4px 4px var(--color-shadow));
    transition: all .2s ease;
}

.card__image button:hover {
    transform: scale(1.1);
}

.card__image img {
    border-radius: 4px;
}

.card__title {
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-regular);
}

.card__desc {
    color: var(--color-primary-500);
    font-size: var(--font-size-1);
    line-height: 1.5;
}

.card--big {
    grid-column: span 2;
    padding: 2rem;
}

.card--big .card__image {
    margin-bottom: 2rem;
}

.card--big .card__featured {
    margin-bottom: 2px;
    color: var(--color-primary-500);
    font-size: var(--font-size-2);
}

.card--big .card__title {
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-bold);
}

.card--big .card__desc {
    margin-top: 1.125rem;
}

.card--stats {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5rem;
}

.card--stats h2 {
    font-size: var(--font-size-5);
    font-weight: var(--font-weight-bold);
    text-transform: uppercase;
    line-height: 1;
}

.card--stats h3 {
    font-size: var(--font-size-5);
    color: var(--color-accent);
    font-weight: var(--font-weight-regular);
    line-height: 1;
}